.content-view {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.inner-content {
    width: 100%;
    padding: 0 100px ;
}
