<div class="service-view">
    <span class="fs-18 fw-100 fc-red">Services</span>
    <div class="header">
        <div class="first">
            <span class="fs-32 fw-500">POPULAR SERVICES </span>
            <span class="fs-32 fw-500">IN YOUR AREA</span>
        </div>
        <div class="second">
            <app-button text="See all Catageory" type="outline"></app-button>
        </div>
    </div>
    <div class="cards">
        <ng-container *ngFor="let opt of cards">
            <div class="card-content">
                <div class="image-view">
                    <img src="assets/garden.jpg">
                </div>
                <div class="text-content">
                    <span class="fw-500">{{opt.title}}</span>
                    <span class="opacity-7">{{opt.subtitle}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>