/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.body {
  font-family: "Poppins", sans-serif !important;
}

.opacity-7 {
  opacity: 0.7 !important;
}
.fs-45 {
  font-size: 45px;
}
.fs-32 {
  font-size: 32px;
}
.fs-25 {
  font-size: 25px;
}
.fw-700 {
  font-weight: 700;
}
.fs-13 {
  font-size: 13px;
}
.fw-100 {
  font-weight: 100;
}
.fs-18 {
  font-size: 18px;
}
.fw-500 {
  font-weight: 500;
}
.fc-red {
  color: #ff5151;
}
