.footer-view {
  width: 100%;
  height: 400px;
  background-color: seashell;
  margin-top: 30px;
  .top-content {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding-top: 50px;
    .first-grid {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      padding: 0 150px;
    }
    .second-grid {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      .content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
      }
    }
    .third-grid {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      .content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
      }
    }
    .fourth-grid {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      .content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .bottom{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 70px;
  }
}
