<div class="footer-view">
    <div class="top-content">
        <div class="first-grid">
            <span>HandyHand</span>
            <span>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et </span>
        </div>
        <div class="second-grid">
            <span>Product</span>
            <div class="content">
                <span>Features</span>
                <span>Documentation</span>
                <span>Referral Program</span>
                <span>Pricing</span>
            </div>
        </div>
        <div class="third-grid">
            <span>Services</span>
            <div class="content">
                <span>Gardening</span>
                <span>Plumbing</span>
                <span>Carpenter</span>
                <span>Vehicle Repare</span>
            </div>
        </div>
        <div class="fourth-grid">
            <span>Company</span>
            <div class="content">
                <span>About</span>
                <span>Terms</span>
                <span>Privacy Policy</span>
                <span>Careers</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span>HandyHand an LTG Product . All Right Reserved 2021</span>
    </div>
</div>