<div class="footer-view">
    <div class="top-content">
        <div class="first-grid">
            <span class="fs-25 fw-700 fc-red">HandyHand</span>
            <span class="opacity-7">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et </span>
        </div>
        <div class="second-grid">
            <span class="fs-18 fw-500">Product</span>
            <div class="content">
                <span class="opacity-7">Features</span>
                <span class="opacity-7">Documentation</span>
                <span class="opacity-7">Referral Program</span>
                <span class="opacity-7">Pricing</span>
            </div>
        </div>
        <div class="third-grid">
            <span class="fs-18 fw-500">Services</span>
            <div class="content">
                <span class="opacity-7">Gardening</span>
                <span class="opacity-7">Plumbing</span>
                <span class="opacity-7">Carpenter</span>
                <span class="opacity-7">Vehicle Repare</span>
            </div>
        </div>
        <div class="fourth-grid">
            <span class="fs-18 fw-500">Company</span>
            <div class="content">
                <span class="opacity-7">About</span>
                <span class="opacity-7">Terms</span>
                <span class="opacity-7">Privacy Policy</span>
                <span class="opacity-7">Careers</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="fs-13">HandyHand an LTG Product . All Right Reserved 2021</span>
    </div>
</div>