<div class="title">
    <span>Most Trusted Handyman Service in Canada</span>
    <h2>Find a handyman near you</h2>
    <div class="circle-view">
        <div class="first">
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
        </div>
        <div class="second">
            <span>Our Community</span>
            <span>Lorem ipsum dolor sit amet, </span>
        </div>
    </div>
    <div class="search-bar">
        <app-dropdown label="Location" selectedVal="Albama"></app-dropdown>
        <app-dropdown label="CATAGEORY" selectedVal="Plumber"></app-dropdown>
        <app-dropdown label="HOURLY RATE" selectedVal="20$"></app-dropdown>
        <div class="btn-view">
            <app-button text="Search"></app-button>
        </div>
    </div>
</div>